[submodule "jsonfeed"]
	path = jsonfeed
	url = git@github.com:hypertext-live/jsonfeed.git
[submodule "webdav-handler-rs"]
	path = webdav-handler-rs
	url = git@github.com:tmpfs/webdav-handler-rs.git
[submodule "wry"]
	path = wry
	url = git@github.com:uwe-app/wry.git
